body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}


.home-page {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
  }
  
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    width: 100%;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .welcome-content {
    margin: 30px 0;
  }
  
  .welcome-image {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
  }
  